
html
    min-height 100%

*
    -webkit-tap-highlight-color rgba(0, 0, 0, 0)  
    -webkit-font-smoothing antialiased
    font-smoothing antialiased
    box-sizing border-box
    // -webkit-touch-callout: none;
    // -webkit-user-select: none;
    // -khtml-user-select: none;
    // -moz-user-select: none;
    // -ms-user-select: none;
    // user-select: none

body
    height 100%
    overflow-y auto
    overflow-x hidden
    margin 0
    background background-color
    // transition-duration 200ms
    // transition-timing-function ease-out
    // transition-property background-color
    
  
.hidden
	display none
	opacity 0
 
img {
  max-width 100%
}

// .typed-cursor{
//   display: none;
// }

// img
//     opacity 1 
//     transition opacity 200ms ease-out  

// img
//     width 116.5%
//     max-width 116.5%
//     margin-left -7vw
//     background #f2f2f2
//     @media tablet
//         margin-left 0px
//         width 100%
//         max-width 100%
//         margin-top 2rem
//         margin-bottom 2rem

section
    padding 7vw
    overflow visible
    &:nth-child(1)
        padding-top 7vw
    @media tablet
        padding 5vw
        &:nth-child(1)
            padding-top 2.5vw
    // @media laptop 
    //     margin grid-int-tablet auto
        //max-width 1200px

// .column
//     @media laptop
//         border-left solid 1px #f2f2f2
//         &:nth-child(3)
//             border-right solid 1px #f2f2f2
        
#lastfm span:last-child
    display none

#lastfm span:nth-child(28)::after 
    content: " and "

.divider
    width 50%
    height 2px
    border-bottom 1px solid #ccc
    margin-top grid-int-phone * 2
    margin-bottom grid-int-phone * 1.4
    @media tablet 
        display none
        
.column
    margin-bottom 5vw
    
.ProjectCont
  //background-color #f2f2f2

.ProjectDivider
    width 86vw
    height 2px
    border-bottom .7px solid text-color
    margin 2vw 2vw 10vw 2vw
    display none
    @media tablet
        border-width 1px

.ProjectThumbCont
  background-color red
  transition all 100ms ease-out
  &:hover
    background-color blue

.ProjectThumb
  width 100%
  height 0px
  padding-bottom 62.5%
  background-color white
  background-position center center
  background-size cover
  background-blend-mode luminosity
  position relative
  cursor pointer
  opacity .9

.ProjectThumb:after
    content ""
    position absolute
    left 0px
    top 0px
    right 0px
    bottom 0px
    mix-blend-mode screen
    pointer-events none
    background-color blue
    
// #oweninthemiddle styles

.oitmImg
  width 100%
  margin 0
  padding 0
  
.oitmBox
  width 100vw
  height 100vw
  float left
  //transition all 200ms ease-out
  a
    padding 0
    margin 0
    border none
  @media tablet
    width 50vw
    height 50vw
  @media desktop
    width 33.333333vw
    height 33.333333vw

.oitmIntro
  height 100vw
  width 100vw
  @media tablet
    height 50vw
    width 50vw
  @media desktop
    height 33.3333333vw
    width 33.33333vw
  
.oitmInside 
  padding 10vw
  @media tablet
    padding 5vw
  p
    padding-top 0
    i
      font-style italic
    a
      text-decoration none
      transition all 200ms ease-out
      border-bottom 1px solid #000
      padding-bottom 0.15rem
      color #000
      
.Name
  margin-bottom 15vw
  margin-top 30vw
  @media tablet
    margin-bottom 2.5vw
    margin-top 2.5vw
    
// .ColorMaker {
//   border: none;
//   background: none;
//   cursor: pointer;
//   color: black;
//   font-family: Arial;
//   padding: 3px 17px;
//   border: 2px solid #1e1e1e;
//   outline: none;
//   color: #1e1e1e;
//   -webkit-box-shadow: 3px 3px 0 0 #1e1e1e;
//   -moz-box-shadow: 3px 3px 0 0 #1e1e1e;
//   box-shadow: 3px 3px 0 0 #1e1e1e;
//   font-size: .7rem;
// }

.ColorMaker {
  border: none;
  background: none;
  cursor: pointer;
  opacity: 0;
  width: 100px;
  height 100px;
  position: fixed;
  bottom: 0;
  right: 0;
}
    
// .TunesLabel:after
//   content: url(_img/eq_icon.gif)
//   margin-left .5rem
//   height 1.5em
  
// body.negative
//   background-color black
//   color white
//   a 
//     border-color white
//     color white
//   .divider
//     background white
    
// .bgcontainer 
//   overflow: hidden;
//   width: 100vw;
//   height: 100vh;
//   // -webkit-animation: grainy 200ms infinite;
//   background url(_img/vhs.gif) no-repeat
//   background-size 100% 100%;
//   position: fixed;
//   top: 0;
//   z-index: 0;
//   opacity: 0;
//   transition: opacity 100ms ease-out;
//   &.on
//     opacity .6
    
// @-webkit-keyframes grainy {
//     0% {background-image: url(http://api.thumbr.it/whitenoise-361x370.png?background=000000ff&noise=626262&density=99&opacity=50)}
//     33% {background-image: url(http://api.thumbr.it/whitenoise-361x370.png?background=000000ff&noise=626262&density=30&opacity=50)}
//     66% {background-image: url(http://api.thumbr.it/whitenoise-361x370.png?background=000000ff&noise=626262&density=90&opacity=50)}
//     100% {background-image: url(http://api.thumbr.it/whitenoise-361x370.png?background=000000ff&noise=626262&density=60&opacity=50)}
// } 

// .bg 
//   background-size: cover;
//   background-repeat: no-repeat;
//   // -webkit-filter: blur(0px);
//   // -webkit-filter: hue-rotate(-10deg);
//   -webkit-filter: grayscale();
//   background-image url(http://cdn.tegna-media.com/king/weather/queenanne.jpg)
//   background-image url(http://wwc.instacam.com/instacamimg/SALTY/SALTY_s.jpg)
//   margin: -5vh;
//   width: 110vw;
//   height: 110vh;
//   opacity: .6;
  
// #SeattleTrigger
//   cursor help
//   text-decoration underline

