/*@import url(http://fonts.googleapis.com/css?family=Karla);*/

p, h1, h2, h3, h4 {
	opacity: 1 !important;
}

p.title {
	/*font-family: Arial, "Times New Roman", Times, serif;*/
	/*font-weight: 300;*/
	/*font-size:  2rem;*/
	margin-top: 5.75em;
	margin-bottom: 6.25em;
	line-height: 125%;
	color: black;
}


p.title a {
	border: none;
	color: black;
	/*font-family: Arial, "Times New Roman", Times, serif;*/
}

/*p.title a:visited {
	color: blue;
}*/

p.title a:hover {
	color: #999;
}


img {
	opacity: 1 !important;
}

.daddy {
	padding: 7vw;
	width: 100%;
}

@media (min-width: 48em) {
	.daddy {
		padding:  7vw;
		width: 70%;
		max-width: 1000px;
	}
}

.kiddy a {
	border-bottom: 0px;
}
.kiddy a:hover {
	border-bottom: 1px solid black;
}

.date {
	font-family: FoundersGroteskTextLight, Karla;
	opacity: .4 !important;
	font-size:  .9rem
}

.date a {
	border: none;
	text-decoration:  none
}

.post {
	margin-bottom:  10vw;
	padding-bottom: 7vw;
	border-bottom: 1px solid #ccc;
}

#header {
	margin-bottom:  2em;
}

#header a {
	border:  none;
	text-decoration:  none;
}

#tumblr_controls {
	display: none;
	visibility: hidden;
	opacity:  0;
}

#blog_title a:visited, #blog_title a:active, #blog_title a {
	color: black;
}

