@font-face {
    font-family: 'akkurat';
    src: url('_fonts/akkurat.eot');
    src: url('_fonts/akkurat.eot') format('embedded-opentype'),
         url('_fonts/akkurat.woff2') format('woff2'),
         url('_fonts/akkurat.woff') format('woff'),
         url('_fonts/akkurat.ttf') format('truetype'),
         url('_fonts/akkurat.svg#akkurat') format('svg');
}
